:root {
  --main-color: #000028;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --decoration-color: #FF0070;
  --text-color: #F1B2CE;
  --main-paddings: 10px;
  --header-nav-color: var(--accent-color);
  --bg-theme-color: var(--accent-color);
  --theme-title-color: var(--accent-color);
  --bg-image: url(../images/cover-image-dark.png), lightgray 50% / cover no-repeat;
  
}

@media (width >= 768px) {
  :root {
    --main-paddings: 20px;
  }
  
}






/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
